
.content {
    margin: 19px 0;
    background-color: #fff;
    border-radius: 8px;
    padding: 50px 60px 72px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.content__row {
    margin: 0 auto;
    max-width: 918px;
    width: 100%;
    display: flex;
    column-gap: 82px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.content__card {
    width: calc(25% - 62px);

}

.content__card-img {
    width: 100%;
}

.content__card-title {
    margin-top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #0C1014;
}

.content__card-price {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #515759;
    margin-top: 4px;
}

.content__card-btn {
    background: #1890FF;
    border-radius: 4px;
    padding: 1px 18px 3px 19px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
}

.content__add{
    background: #1890FF;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}


.content__card-btns {
    display: flex;
    justify-content: space-between;
}