
.header__nav {
    display: flex;
    width: 100%;
}

.header__logo {
    width: 20%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
}

.header__list {
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 55px;
    background: #444444;
    border-radius: 0 8px 8px 0;
    padding: 16px 0;
}
.header__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}